@model IPageViewModel<SitePageData>

<div class="container"><div class="row"><div class="alert alert-danger text-center" role="alert">Visar användningen av DisplayChannel (staticweb)</div></div></div>
